<div class="row">

  <div class="profile_center col-md-4 col-md-offset-4">
    <% @profiles.each do |profile| %>
      <div class="profile" style="display: none" id= <%= profile.id %> >
        <h1 class="profile_header"><%= profile.user.name %> | <small> <%=  profile.title %></small></h1>
        <h3>About Me:</h3>
        <h4><%= profile.description %></h4>
        <i class="fa fa-check-circle fa-5x yes-profile"></i><i class="fa fa-times-circle fa-5x no-profile"></i>
      </div>
    <% end %>
  </div>
    <h3 class="add">Hey</h3>
</div>
