<div class="row">
  <div class="profile_center">
    <h1 class="profile_header"><%=  @user.name %><small> | <%=  @profile.title %></small></h1>
    <h3>About Me:</h3>
    <h4><%= @profile.description %></h4>
  </div>
</div>
