<h1><%= @user.name %></h1>

<p>Account Status:
  <% if @user.verified? %>
    Verified
  <% else -%>
    Not Verified
  <% end -%>

  <% if !@user.verified? %>
<p>
  <%= link_to "Verify your account now.", show_verify_path %>
</p>
  <% end -%>

  <% if @user.post %>
    <%= link_to "Look for your roommmate!", profiles_path, class: "please" %>
  <% elsif @user.profile%>
    <%= link_to "Look for your room!", posts_path %>
  <% end %>
