<div class="jumbotron">
   <div class="container">
     <h1><span class="glyphicon glyphicon-home">RoomService</h1>
       <h2 class="sub-logo">Roommate Finding Made Easy & Secure!</h2></span>
     <div class="centered">
     <p><a class="btn btn-primary btn-lg home-btn" href="#" role="button">About</a>
       <a class="btn btn-primary btn-lg home-btn" href="#" role="button">FAQ</a>
       <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg home-btn" %>
       <%= link_to "Log In", login_path, class: "btn btn-primary btn-lg home-btn" %></p>
     </div>
    </div>
</div>
