<div class="ui segment">
    <h3>Your Matches</h3>
    <div class="ui list">
      <% if @matches %>
        <% @matches.each do |match| %>
        <div class="item">
          <div class="ui segment small">
            <% if @user.user_type == "host" %>
              <%= link_to "#{match.profile.user.name}", profile_path(match.profile.user.id)%><%= link_to ' |  Send Message', conversations_path(sender_id: current_user.id, recipient_id: match.profile.user.id), method: 'post'%>
            <% elsif @user.user_type == "seeker" %>
              <%= ink_to "#{match.post.user.name}", post_path(match.post.user.id) %><%= link_to ' |  Send Message', conversations_path(sender_id: current_user.id, recipient_id: match.post.user.id), method: 'post'%>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
</div>
